.articleDisplayContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.articleDisplayBodyDiv {
    width: 50%;
}

.articleDisplayBody {
    font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif;
    line-height: 32px;
    font-size: 20px;
}

.articleDisplayTitleDiv {
    width: 50%;
    margin-bottom: 20px;
    margin-top: 40px;
}

.articleDisplayTitle {
    font-size: 42px;
    font-weight: 800;
}