.writeArticleContainer {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.articleFormContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1000px;
}

.articleHeader {
    /* border: 1px black solid; */
    display: flex;
    justify-content: space-between;
    height: 50px;
}

.articleHeaderRight {
    display: flex;
    justify-content: space-between;
    width: 250px;
}


.formTitleText {
    font-size: 42px;
    font-family: medium-content-title-font,Georgia,Cambria,"Times New Roman",Times,serif;
    border: 0;
    margin-bottom: 0px;
    margin-top: 20px;
    resize: none;
}

.formBodyText {
    font-size: 21px;
    line-height: 1.5;
    border: 0;
    color: black;
    font-family: medium-content-title-font,Georgia,Cambria,"Times New Roman",Times,serif;
    resize: none;
}

.formTitleText::placeholder {
    color: #b3b3b1;
}

.formBodyText::placeholder {
    color: #b3b3b1;
}

.formTitleText:focus {
    outline: none;
}

.formBodyText:focus {
    outline: none;
}

.writeArticleHomeLink {
    padding-top: 15px;
    text-decoration: none;
}

.publishButton {
    padding-top: 15px;
    text-decoration: none;
}

.writeArticleHomeLink:visited {
    color: black;
}

.publishButtonContainer {
    display: flex;
    align-items: center;
}

.publishButton {
    background-color: rgba(0, 142, 17, 0.51);
    height: 30px; 
    width: 110px;
    text-align: center;
    padding-top: 10px;
    border-radius: 100px;
    color: white;
}

.publishButton.active {
    background-color: rgba(1, 168, 21, 1);
}

.publishButton.active:hover {
    cursor: pointer;
    background-color: #1a8917;
}
.tooltip {
    width: 300px;
    height: 20px;
    visibility: hidden;
    margin-top: 5px;
}

.tooltip.active {
    visibility: visible;
}

.articleHeaderRight {
    margin-right: 15px;
}

.imagePreview {
    height: 200px;
    margin: 5px;
}

.form {
    display: flex;
    flex-direction: column;
}

.imageInput {
    display: none
}

.inputContainer {
    display: flex;
    justify-content: left;
    width: 100%;
}

.custom-file-upload {
    /* border: 1px solid #ccc; */
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    width: 125px;
    height: 30px;
    text-align: center;
    color: #b3b3b1;
    font-size: 18px;
    margin-left: 95px;
}