.commentsModal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1; 
  /* background-color: black; */
}
/* 
.modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(234, 232, 233, 0.95);
  z-index: -1; 
} */

.commentsContent {
  position: fixed;
  right: 15px;
  top: 50px;
  background-color: white;
  border-radius: 10px;
  width: 400px;
  height: 100%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 999; 
}