.commentsModal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1; 
}

.modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(234, 232, 233, 0.95);
}

.commentsContent {
  position: fixed;
  right: 15px;
  top: 50px;
  background-color: white;
  border-radius: 10px;
  width: 400px;
  height: 100%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 999; 
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.commentsContent h1 {
  color: black;
}

.responses-count {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 45px;
  padding-top: 25px;
  padding-bottom: 25px;

}

.responses {
    font-size: 20px;
    color: black;
    font-weight: 500;
}