.sessionModal {
    display: flex;
    flex-direction: column;
}

.topDiv {
    display: flex;
    justify-content: center;
}

.h1div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: gt-super, Georgia, Cambria, "Times New Roman", Times, serif;
    font-weight: 400;
    font-size: 28px;
    padding-left: 20px;
}

.emailDiv {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    height: 50px;
    /* margin-left: 50px; */
    margin-right: 10px;
}

.passwordDiv {
    display: flex;
    justify-content: center;
    height: 50px;
    margin-right: 40px;
}

.submitDiv {
    display: flex;
    justify-content: center;
    margin-left: 15px;
}

.closeDiv {
    margin-top: 200px;
    display: flex;
    justify-content: right;
    align-items: top;
    position: relative;
    top: -200px;
}

.closeButton {
    width: 50px;
    height: 30px;
    /* background-color: lightgray; */
    text-align: center;
    padding-top: 10px;

}
.closeButton:hover {
    cursor: pointer;
}

.submitDiv:hover {
    cursor: pointer;
}

.submitDiv.demo {
    display: flex;
    border: 1px solid black;
    width: 150px;
    margin-left: 235px;
    margin-top: 50px;
    height: 30px;
    align-items: center;
    border-radius: 100px;
}

.errorDiv {
    display: flex;
    justify-content: center;
    padding-top: 45px;
}

.errors {
    font-size: 14px;
    color: red;
    text-align: center;
}