.sessionModal {
    display: flex;
    flex-direction: column;
}

.topDiv {
    display: flex;
    justify-content: center;
}

.h1div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: gt-super, Georgia, Cambria, "Times New Roman", Times, serif;
    font-weight: 400;
    font-size: 28px;
    padding-left: 20px;
}

.emailDiv {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    height: 50px;
}

.emailInput {
    border-radius: 100px;
    font-size: 21px;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 15px;
}

.passwordDiv {
    display: flex;
    justify-content: center;
    height: 50px;
    margin-top: 20px;
    
}

.passwordInput {
    border-radius: 100px;
    font-size: 21px;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 15px;
}


.submitDiv {
    display: flex;
    justify-content: center;
    margin-left: 15px;
}

.closeDiv {
    margin-top: 200px;
    display: flex;
    justify-content: right;
    align-items: top;
    position: relative;
    top: -200px;
}

.closeButton {
    width: 50px;
    height: 30px;
    /* background-color: lightgray; */
    text-align: center;
    padding-top: 10px;

}
.closeButton:hover {
    cursor: pointer;
}

.submitDiv:hover {
    cursor: pointer;
}

.submitDiv.demo {
    display: flex;
    border: 2px solid black;
    width: 235px;
    margin-left: 180px;
    margin-top: 50px;
    height: 30px;
    align-items: center;
    border-radius: 100px;
    margin-top: 15px;
    height: 45px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 21px;
}

.errorDiv {
    display: flex;
    justify-content: center;
    padding-top: 45px;
}

.errors {
    font-size: 14px;
    color: red;
    text-align: center;
}

.linkToOtherModal {
    display: flex;
    margin-left: 210px;
    margin-top: 10px
}

.toOtherModalLabel {
    margin-right: 5px;
}

.toOtherModalLink {
    color: green;
}

.toOtherModalLink:hover {
    cursor: pointer;
}



      