.create-comment {
    /* border: 1px solid red; */
    width: 350px;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}


.create-comment img {
    width: 35px;
    height: 35px;
    border-radius: 500px;
    margin-right: 15px;
}

.create-comment .user-info {
    display: flex;
    margin-left: 10px;
    margin-top: 10px;

}

.create-comment textarea {
    resize: none;
    border: none;
    margin-left: 10px;
    margin-top: 5px;
}

.create-comment textarea:focus {
    border-color: transparent; 
    outline: none;
}


.create-comment .username {
    display: flex;
    align-items: center;
}

.submit-container {
    display: flex;
    height: 45px;
    align-items: center;
}

.submit-button {
    margin-left: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 35px;
    border-radius: 20px;
    background-color:rgb(149, 186, 147);
    color: white;
    font-size: 13px;
}

.submit-button.submitable {
    background-color:rgb(26, 137, 23);
}
