.navbar {
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    height: 75px;
    background-color: rgba(255, 194, 0, 1)
}

.navbar.loggedIn {
    height: 50px;
    background-color: white;
} 

.rightside {
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.maineum {
    font-size: 32px;
    font-weight: 550;
    font-family: Roboto;

}

.leftside {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
}

.getStartedButton {
    background-color: black;
    height: 30px; 
    width: 110px;
    text-align: center;
    padding-top: 10px;
    border-radius: 100px;
}

.getStartedButton:hover {
    cursor: pointer;
}

.getStartedLink {
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.NavLink {
    text-decoration: none;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.NavLink:visited {
     color: black;
}

.home:visited {
    color: black;
}

.userButton {
    width: 30px;
    height: auto;
}

.userButton:hover {
    cursor: pointer;
}

.writeIcon {
    margin-right: 5px;
}

.navWriteDiv {
    height: 15px;
}

.navWriteDiv:hover {
    cursor: pointer;
}

