.articleButtons {
    display: flex;
    height: 30px;
    width: 50%;
    justify-content: space-between;
    align-items: center;
}

.aritcleButtonsLeft {
    display: flex;
    justify-content: space-around;
    width: 60px;
}

.articleButtonsRight {
    display: flex;
    justify-content: space-around;
    width: 170px;
}

.button {
    text-decoration: none;
}


.button:hover {
    cursor: pointer;
}

/* .button: {
    text-decoration: none;
    color: black
} */
