.articleButtons {
    display: flex;
    height: 30px;
    width: 40%;
    justify-content: space-between;
    align-items: center;
    border-top: .5px solid lightgrey;
    border-bottom: .5px solid lightgrey;
}

.aritcleButtonsLeft {
    display: flex;
    justify-content: space-around;
    width: 60px;
}

.articleButtonsRight {
    display: flex;
    justify-content: space-around;
    width: 170px;
}

.button {
    text-decoration: none;
}


.button:hover {
    cursor: pointer;
}


.pleaseNavLink:visited {
    color: black;
    text-decoration: none;
}

.articleButtons .NavLink {
    color: black;
    text-decoration: black;
}