.articleIndexContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}


