.indexItem {
    display: flex;

}

.indexItemContainer {
    /* width: 600px; */
    width: 600px;
    height: 250px;
    border-top: .5px rgba(221, 221, 221, 0.8) solid;
    border-bottom: .5px rgba(221, 221, 221, 0.8) solid; 
    display: flex;
    flex-direction: column;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.indexItemAuthorNameDiv {
    height: 40px;
    display: flex;
    align-items: center;
}

.indexItemTitleDiv {
    height: 40px;
}

.indexItemTitle {
    font-size: 20px;
    font-weight: 700;
}

.indexItemBodyDiv {
    height: 50px;
}


.indexItemFooter {
    height: 40px;
    margin-top: 30px;
}

.indexItemTitleDiv:hover {
    cursor: pointer;
}


.indexItemBodyDiv {
    cursor: pointer;
}

.indexItemFooter {
    display: flex;
    justify-content: space-between;
}

.indexItemFooterLeftDiv {
    display: flex;
    justify-content: space-around;
}

.indexItemFooterSpan {
    margin: 2px;
}


.index.imageContainer {
    /* border: black solid 1px; */
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: .5px rgba(221, 221, 221, 0.8) solid;
    border-bottom: .5px rgba(221, 221, 221, 0.8) solid;
}

.indexItem .indexImage {
    width: 125px;
    height: 100px;
}

.indexItem .indexImage:hover {
cursor: pointer;
}

.indexItem .createdAt {
    margin-left: 5px;
    color: #6B6B6B;
    font-size: 16px;
}

.indexItem .userPhoto {
    width: 35px;
    height: 35px;
    border-radius: 100px;
}