.indexItemContainer {
    width: 100%;
    height: 250px;
    border-top: .5px rgba(221, 221, 221, 0.8) solid;
    border-bottom: .5px rgba(221, 221, 221, 0.8) solid; 
    display: flex;
    flex-direction: column;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* margin-left: 250px; */
}

.indexItemAuthorNameDiv {
    height: 40px;
    display: flex;
    align-items: center;
}

.indexItemAuthorName {
    padding-left: 20px
}

.indexItemTitleDiv {
    height: 40px;
    padding-left: 20px;
}

.indexItemTitle {
    font-size: 20px;
    font-weight: 700;
}

.indexItemBodyDiv {
    height: 50px;
}

.indexItemBody{
    padding-left: 20px;
}

.indexItemFooter {
    height: 40px;
    margin-top: 40px;
}

.indexItemTitleDiv:hover {
    cursor: pointer;
}


.indexItemBodyDiv {
    cursor: pointer;
}

.indexItemFooter {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
}

.indexItemFooterLeftDiv {
    display: flex;
    justify-content: space-around;
}

.indexItemFooterSpan {
    margin: 2px;
}


